{% extends 'ApplisunCompteBundle::layout.html.twig' %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{{ path('homepage') }}">Accueil</a></li>
        <li><a href="{{ path('compte') }}">Mes comptes</a></li>
        <li class="active">Graphique du compte n°{{ entity.numero }} année {{ year }}</li>
    </ul>
    <div class="row">
        <ul class="pager col-lg-12">
            {% if year > firstYear %}
            <li class="previous"><a href="{{ path('compte_graphic', {'id': entity.id, 'year': year-1 }) }}"><span class="glyphicon glyphicon-backward"></span> {{ year-1 }}</a></li>
            {% endif %}
            {% if year < "now"|date('Y') %}
            <li class="next"><a href="{{ path('compte_graphic', {'id': entity.id, 'year': year+1 }) }}">{{ year+1 }} <span class="glyphicon glyphicon-forward"></span></a></li>
            {% endif %}
        </ul>
    </div>    
    <div class="row">
        <h2>Historique du solde {{ year }}</h2>
        <div class="col-lg-12">
            <script type="text/javascript">
                    {{ chart(linechart) }}
            </script>

            <div id="{{ eltId }}" style="min-width: 400px; height: 400px;"></div>
        </div>
    </div>
    <div class="row">
        <h2>Répartition des opérations</h2>
        {{ render_esi(controller('ApplisunCompteBundle:Graphic:graphicOperation', { 'month': '0', 'year': year, 'compteId': entity.id })) }}
    </div>    
            
{% endblock %}